<launch>
    <arg name="imu_topic" default="/mavros/imu/data"/>
    <arg name="odom_primary_topic" default="/mavros/odometry/in"/>
    <arg name="odom_fallback_topic" default="/unused_odom_fallback"/>
    <arg name="gnss_topic" default="/mavros/global_position/global"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="start_rviz" default="true"/>
    <arg name="rviz_config" default="$(find ekf)/launch/ekf_compare.rviz"/>

    <arg name="gyro_cov" default="0.5"/>
    <arg name="acc_cov" default="1.0"/>
    <arg name="position_cov" default="0.005"/>
    <arg name="q_rp_cov" default="10.0"/>
    <arg name="q_yaw_cov" default="0.05"/>
    <arg name="cutoff_freq" default="20.0"/>

    <arg name="gnss_min_interval" default="0.5"/>
    <arg name="gnss_min_cov_xy" default="16.0"/>
    <arg name="gnss_min_cov_z" default="25.0"/>
    <arg name="gnss_cov_scale" default="1.0"/>
    <arg name="enable_gnss_yaw_alignment" default="true"/>
    <arg name="gnss_require_yaw_alignment_before_update" default="true"/>
    <arg name="gnss_alignment_min_samples" default="5"/>
    <arg name="gnss_alignment_max_samples" default="30"/>
    <arg name="gnss_alignment_min_motion" default="1.0"/>
    <arg name="gnss_alignment_sample_interval" default="0.5"/>
    <arg name="gnss_odom_sync_max_dt" default="0.2"/>
    <arg name="gnss_alignment_max_residual" default="1.0"/>

    <param name="/use_sim_time" type="bool" value="$(arg use_sim_time)"/>

    <group ns="ekf_imu_odom">
        <node pkg="ekf" type="ekf" name="filter" output="screen">
            <remap from="~imu" to="$(arg imu_topic)"/>
            <remap from="~bodyodometry_primary" to="$(arg odom_primary_topic)"/>
            <remap from="~bodyodometry_fallback" to="$(arg odom_fallback_topic)"/>
            <remap from="~gnss_fix" to="$(arg gnss_topic)"/>
            <rosparam file="$(find ekf)/launch/PX4_vio_drone.yaml" command="load"/>

            <param name="offset_px" type="double" value="0.0"/>
            <param name="offset_py" type="double" value="0.0"/>
            <param name="offset_pz" type="double" value="0.0"/>
            <param name="imu_trans_x" type="double" value="0.0"/>
            <param name="imu_trans_y" type="double" value="0.0"/>
            <param name="imu_trans_z" type="double" value="0.0"/>
            <param name="gyro_cov" type="double" value="$(arg gyro_cov)"/>
            <param name="acc_cov" type="double" value="$(arg acc_cov)"/>
            <param name="position_cov" type="double" value="$(arg position_cov)"/>
            <param name="q_rp_cov" type="double" value="$(arg q_rp_cov)"/>
            <param name="q_yaw_cov" type="double" value="$(arg q_yaw_cov)"/>
            <param name="cutoff_freq" type="double" value="$(arg cutoff_freq)"/>
            <param name="publish_warmup_frames" type="int" value="0"/>
            <param name="odom_jump_threshold" type="double" value="2.0"/>
            <param name="innovation_reject_threshold" type="double" value="1.5"/>
            <param name="innovation_reset_threshold" type="double" value="2.0"/>
            <param name="enable_odom_realign" type="bool" value="true"/>
            <param name="enable_adaptive_observation_covariance" type="bool" value="true"/>
            <param name="odom_adaptive_threshold" type="double" value="1.5"/>
            <param name="odom_adaptive_reject_threshold" type="double" value="4.0"/>
            <param name="odom_adaptive_max_scale" type="double" value="100.0"/>
            <param name="odom_loss_timeout" type="double" value="1.0"/>
            <param name="enable_gnss_velocity_when_odom_lost" type="bool" value="false"/>
            <param name="use_gnss" type="bool" value="false"/>
            <param name="path_publish_stride" type="int" value="3"/>
            <param name="path_max_points" type="int" value="50000"/>
            <param name="arrow_publish_stride" type="int" value="30"/>
            <param name="arrow_max_markers" type="int" value="1000"/>
        </node>
    </group>

    <group ns="ekf_three_source">
        <node pkg="ekf" type="ekf" name="filter" output="screen">
            <remap from="~imu" to="$(arg imu_topic)"/>
            <remap from="~bodyodometry_primary" to="$(arg odom_primary_topic)"/>
            <remap from="~bodyodometry_fallback" to="$(arg odom_fallback_topic)"/>
            <remap from="~gnss_fix" to="$(arg gnss_topic)"/>
            <rosparam file="$(find ekf)/launch/PX4_vio_drone.yaml" command="load"/>

            <param name="offset_px" type="double" value="0.0"/>
            <param name="offset_py" type="double" value="0.0"/>
            <param name="offset_pz" type="double" value="0.0"/>
            <param name="imu_trans_x" type="double" value="0.0"/>
            <param name="imu_trans_y" type="double" value="0.0"/>
            <param name="imu_trans_z" type="double" value="0.0"/>
            <param name="gyro_cov" type="double" value="$(arg gyro_cov)"/>
            <param name="acc_cov" type="double" value="$(arg acc_cov)"/>
            <param name="position_cov" type="double" value="$(arg position_cov)"/>
            <param name="q_rp_cov" type="double" value="$(arg q_rp_cov)"/>
            <param name="q_yaw_cov" type="double" value="$(arg q_yaw_cov)"/>
            <param name="cutoff_freq" type="double" value="$(arg cutoff_freq)"/>
            <param name="publish_warmup_frames" type="int" value="0"/>
            <param name="odom_jump_threshold" type="double" value="2.0"/>
            <param name="innovation_reject_threshold" type="double" value="1.5"/>
            <param name="innovation_reset_threshold" type="double" value="2.0"/>
            <param name="enable_odom_realign" type="bool" value="true"/>
            <param name="enable_adaptive_observation_covariance" type="bool" value="true"/>
            <param name="odom_adaptive_threshold" type="double" value="1.5"/>
            <param name="odom_adaptive_reject_threshold" type="double" value="4.0"/>
            <param name="odom_adaptive_max_scale" type="double" value="100.0"/>
            <param name="odom_loss_timeout" type="double" value="1.0"/>
            <param name="enable_gnss_velocity_when_odom_lost" type="bool" value="false"/>
            <param name="use_gnss" type="bool" value="true"/>
            <param name="enable_gnss_cold_start" type="bool" value="true"/>
            <param name="gnss_cold_start_delay" type="double" value="1.0"/>
            <param name="gnss_cold_start_frame_id" type="str" value="odom"/>
            <param name="gnss_use_msg_covariance" type="bool" value="true"/>
            <param name="gnss_min_interval" type="double" value="$(arg gnss_min_interval)"/>
            <param name="gnss_min_cov_xy" type="double" value="$(arg gnss_min_cov_xy)"/>
            <param name="gnss_min_cov_z" type="double" value="$(arg gnss_min_cov_z)"/>
            <param name="gnss_cov_scale" type="double" value="$(arg gnss_cov_scale)"/>
            <param name="gnss_position_covariance_floor_xy" type="double" value="0.0"/>
            <param name="gnss_position_covariance_floor_z" type="double" value="0.0"/>
            <param name="enable_gnss_mahalanobis_gate" type="bool" value="true"/>
            <param name="gnss_mahalanobis_weak_threshold" type="double" value="7.815"/>
            <param name="gnss_mahalanobis_reject_threshold" type="double" value="16.266"/>
            <param name="enable_gnss_motion_consistency" type="bool" value="true"/>
            <param name="gnss_motion_consistency_min_motion" type="double" value="0.5"/>
            <param name="gnss_motion_consistency_threshold" type="double" value="1.0"/>
            <param name="gnss_motion_consistency_reject_threshold" type="double" value="3.0"/>
            <param name="gnss_motion_consistency_max_scale" type="double" value="10.0"/>
            <param name="gnss_healthy_odom_weak_scale" type="double" value="0.5"/>
            <param name="enable_gnss_health_score" type="bool" value="true"/>
            <param name="gnss_good_covariance_xy" type="double" value="4.0"/>
            <param name="gnss_poor_covariance_xy" type="double" value="16.0"/>
            <param name="gnss_min_health_score" type="double" value="0.2"/>
            <param name="gnss_health_trust_threshold" type="double" value="0.75"/>
            <param name="odom_weak_health_threshold" type="double" value="0.8"/>
            <param name="gnss_health_low_score_max_scale" type="double" value="8.0"/>
            <param name="enable_gnss_nis_state_machine" type="bool" value="true"/>
            <param name="gnss_health_window_size" type="int" value="5"/>
            <param name="gnss_degraded_count_threshold" type="int" value="3"/>
            <param name="gnss_severe_count_threshold" type="int" value="3"/>
            <param name="gnss_recover_count_threshold" type="int" value="3"/>
            <param name="gnss_isolation_time" type="double" value="1.0"/>
            <param name="gnss_nis_degraded_threshold" type="double" value="7.815"/>
            <param name="gnss_nis_severe_threshold" type="double" value="16.266"/>
            <param name="gnss_r_degraded_scale" type="double" value="5.0"/>
            <param name="gnss_r_severe_scale" type="double" value="20.0"/>
            <param name="enable_odom_gnss_consistency_health" type="bool" value="true"/>
            <param name="odom_gnss_consistency_threshold" type="double" value="0.4"/>
            <param name="odom_gnss_consistency_poor_threshold" type="double" value="1.2"/>
            <param name="odom_gnss_consistency_max_scale" type="double" value="25.0"/>
            <param name="odom_gnss_consistency_timeout" type="double" value="2.0"/>
            <param name="enable_gnss_yaw_alignment" type="bool" value="$(arg enable_gnss_yaw_alignment)"/>
            <param name="gnss_require_yaw_alignment_before_update" type="bool" value="$(arg gnss_require_yaw_alignment_before_update)"/>
            <param name="gnss_alignment_min_samples" type="int" value="$(arg gnss_alignment_min_samples)"/>
            <param name="gnss_alignment_max_samples" type="int" value="$(arg gnss_alignment_max_samples)"/>
            <param name="gnss_alignment_min_motion" type="double" value="$(arg gnss_alignment_min_motion)"/>
            <param name="gnss_alignment_sample_interval" type="double" value="$(arg gnss_alignment_sample_interval)"/>
            <param name="gnss_odom_sync_max_dt" type="double" value="$(arg gnss_odom_sync_max_dt)"/>
            <param name="gnss_alignment_max_residual" type="double" value="$(arg gnss_alignment_max_residual)"/>
            <param name="gnss_min_status" type="int" value="0"/>
            <param name="path_publish_stride" type="int" value="3"/>
            <param name="path_max_points" type="int" value="50000"/>
            <param name="arrow_publish_stride" type="int" value="30"/>
            <param name="arrow_max_markers" type="int" value="1000"/>
        </node>
    </group>

    <node if="$(arg start_rviz)" pkg="rviz" type="rviz" name="ekf_compare_rviz" args="-d $(arg rviz_config)" output="screen"/>
</launch>
