<launch>
    <arg name="raw_vo_topic" default="/Odometry"/>
    <arg name="imu_topic" default="/mavros/imu/data"/>
    <arg name="gnss_topic" default="/mavros/global_position/global"/>
    <arg name="guided_odom_topic" default="/ekf/guided_vo_odom"/>
    <arg name="status_topic" default="/ekf/vo_guidance_status"/>
    <arg name="world_frame_id" default="map"/>
    <arg name="child_frame_id" default="base_link"/>
    <arg name="start_rviz" default="true"/>
    <arg name="rviz_config" default="$(find ekf)/launch/ekf.rviz"/>
    <arg name="use_sim_time" default="true"/>

    <!-- This mode assumes horizontal, nearly uniform motion with GNSS speed >= 5 m/s. -->
    <arg name="vo_guidance_min_speed" default="5.0"/>
    <arg name="vo_guidance_min_motion" default="10.0"/>
    <arg name="vo_guidance_min_pairs" default="8"/>
    <arg name="vo_guidance_max_pairs" default="40"/>
    <arg name="vo_guidance_max_pair_dt" default="0.08"/>
    <arg name="vo_guidance_ready_frames" default="4"/>
    <arg name="vo_guidance_max_residual" default="1.0"/>
    <arg name="vo_guidance_max_vertical_motion" default="2.0"/>
    <arg name="vo_guidance_uniform_speed_max_cv" default="0.35"/>
    <arg name="vo_guidance_min_scale" default="0.05"/>
    <arg name="vo_guidance_max_scale" default="20.0"/>
    <arg name="vo_guidance_scale_stability" default="0.05"/>
    <arg name="vo_guidance_yaw_stability" default="0.05"/>
    <arg name="vo_guidance_imu_timeout" default="0.5"/>
    <arg name="vo_guidance_require_imu" default="true"/>
    <arg name="vo_guidance_publish_before_ready" default="false"/>
    <arg name="ekf_enable_odom_gnss_consistency_health" default="true"/>
    <arg name="ekf_enable_gnss_motion_consistency" default="true"/>

    <node pkg="ekf" type="vo_gnss_imu_guidance.py" name="vo_gnss_imu_guidance" output="screen">
        <param name="raw_vo_topic" value="$(arg raw_vo_topic)"/>
        <param name="imu_topic" value="$(arg imu_topic)"/>
        <param name="gnss_topic" value="$(arg gnss_topic)"/>
        <param name="guided_odom_topic" value="$(arg guided_odom_topic)"/>
        <param name="status_topic" value="$(arg status_topic)"/>
        <param name="world_frame_id" value="$(arg world_frame_id)"/>
        <param name="child_frame_id" value="$(arg child_frame_id)"/>
        <param name="min_speed" value="$(arg vo_guidance_min_speed)"/>
        <param name="min_motion" value="$(arg vo_guidance_min_motion)"/>
        <param name="min_pairs" value="$(arg vo_guidance_min_pairs)"/>
        <param name="max_pairs" value="$(arg vo_guidance_max_pairs)"/>
        <param name="max_pair_dt" value="$(arg vo_guidance_max_pair_dt)"/>
        <param name="ready_frames" value="$(arg vo_guidance_ready_frames)"/>
        <param name="max_residual" value="$(arg vo_guidance_max_residual)"/>
        <param name="max_vertical_motion" value="$(arg vo_guidance_max_vertical_motion)"/>
        <param name="uniform_speed_max_cv" value="$(arg vo_guidance_uniform_speed_max_cv)"/>
        <param name="min_scale" value="$(arg vo_guidance_min_scale)"/>
        <param name="max_scale" value="$(arg vo_guidance_max_scale)"/>
        <param name="scale_stability" value="$(arg vo_guidance_scale_stability)"/>
        <param name="yaw_stability" value="$(arg vo_guidance_yaw_stability)"/>
        <param name="imu_timeout" value="$(arg vo_guidance_imu_timeout)"/>
        <param name="require_imu" value="$(arg vo_guidance_require_imu)"/>
        <param name="publish_before_ready" value="$(arg vo_guidance_publish_before_ready)"/>
    </node>

    <include file="$(find ekf)/launch/ekf_lidar.launch">
        <arg name="imu_topic" value="$(arg imu_topic)"/>
        <arg name="odom_primary_topic" value="$(arg guided_odom_topic)"/>
        <arg name="gnss_topic" value="$(arg gnss_topic)"/>
        <arg name="enable_gnss_velocity_when_odom_lost" value="false"/>
        <arg name="enable_odom_gnss_consistency_health" value="$(arg ekf_enable_odom_gnss_consistency_health)"/>
        <arg name="enable_gnss_motion_consistency" value="$(arg ekf_enable_gnss_motion_consistency)"/>
        <arg name="start_rviz" value="$(arg start_rviz)"/>
        <arg name="rviz_config" value="$(arg rviz_config)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>
</launch>
